@import "tailwindcss";

html, body, #root {
  height: 100%;
}

.recharts-tooltip-wrapper {
  z-index: 99999 !important;
  pointer-events: none !important;
}

.recharts-tooltip-wrapper .recharts-default-tooltip {
  z-index: 99999 !important;
  pointer-events: auto !important;
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 1) !important;
}
